@model User
<p>
    <img src="~/SVG/email.svg">
    <span style="vertical-align:middle">@Model.Email</span>
</p>
<p>
    <img src="~/SVG/phone.svg">
    <span style="vertical-align:middle">@Model.TelePhone</span>
</p>